$radius1: 0.5rem;
$bg: rgba(255, 255, 255, 88%);

.Header {
  position: relative;

  &Logo {
    &Container {
      background: $bg;
      z-index: 1400;
      transition: background-color 0.8s cubic-bezier(0.33, 1, 0.68, 1);

      &TrueWhite {
        background: white;
      }
    }

    &Image {
      width: auto;
    }
  }

  &Links {
    padding: {
      top: 0.3rem;
      bottom: 0.3rem;
    }
  }
}

.MobileMenu {
  position: fixed;
  top: 3rem;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1400;

  @media screen and (min-width: 30em) {
    display: none;
  }

  > div,
  > a {
    margin: {
      top: 0.3rem;
      bottom: 0.3rem;
      left: auto;
      right: auto;
    }
    max-width: 8em;
    padding: {
      left: 1em;
      right: 1em;
    }
  }
}

.AboveTheFold {
  position: relative;
  overflow: hidden;

  &Background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }
}

/* Layout configurations */
.Header {
  &Logo {
    &Container {
      position: fixed;
      width: 100%;
      flex-direction: row;
    }
    &Image {
      height: 3rem;
      padding: {
        top: 0.125rem;
        bottom: 0.125rem;
        left: 0.3rem;
        right: 0.3rem;
      }
    }

    @media screen and (min-width: 30em) {
      &Container {
        position: absolute;
        width: auto;
        border-bottom-left-radius: $radius1;
        border-bottom-right-radius: $radius1;
        flex-direction: column;
      }
      &Image {
        height: 100%;
        padding: {
          top: 0.1rem;
          bottom: 0.2rem;
          left: 0.3rem;
          right: 0.3rem;
        }
      }
    }
  }
}
