@mixin fadeEaseOutCubic($name, $duration, $delay) {
  .#{$name} {
    &-enter-active,
    &-leave-active {
      transition: opacity $duration cubic-bezier(0.33, 1, 0.68, 1);
      transition-delay: $delay;
    }

    &-enter,
    &-leave-to {
      opacity: 0;
    }
  }
}
$globalFadeDuration: 0.35s;

@mixin headingBorderAboveBelow() {
  text-align: center;
  width: fit-content;

  border-top: 2px solid var(--theme-colors-azalea);
  border-bottom: 2px solid var(--theme-colors-azalea);
}

@mixin slideAnimation($name, $duration) {
  .#{$name} {
    &-enter-active,
    &-leave-active {
      animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
    }
    &-enter-active {
      animation: $duration slide-in;
    }

    &-leave-active {
      animation: $duration slide-out;
    }

    @keyframes slide-in {
      0% {
        clip-path: inset(0 0 100% 0);
      }
      100% {
        clip-path: inset(0);
      }
    }
    @keyframes slide-out {
      0% {
        clip-path: inset(0);
      }
      100% {
        clip-path: inset(0 0 100% 0);
      }
    }
  }
}
